<div class="container">
  <h1 class="title">Mis Reseñas</h1>

  <div class="columns is-multiline is-variable is-4 card-container">
    <% @reseñas_sobre_ti.each do |resena| %>
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <p class="title"><%= resena.titulo %></p>
            <p class="subtitle">⭐ <%= resena.puntuacion %></p>
            <p class="description"><%= resena.comentario %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
