
<div class="container">
  <h1 class="title">Calcetines con mi like</h1>

  <div class="columns is-multiline is-variable is-4 card-container">
    <% @calcetines_likes.each do |like| %>
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <img src="<%= like.foto %>" alt="Imagen de Calcetín" width="180" height="200">
            <p class="title"><%= like.nombre %></p>
            <p class="subtitle"><%= like.descripcion %></p>
            <p class="subtitle"><%= like.usuario.email %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
