<h2>Calcetines Creados por Mí</h2>
<% if current_user.calcetines.any? %>
  <ul>
    <% current_user.calcetines.each do |calcetin| %>
      <li><%= calcetin.nombre %></li>
    <% end %>
  </ul>
<% end %>
