<div class="row text-center justify-content-center">
<div class="col">
  <br>
  <div class="box">
  <h3>Sobre Nosotros...</h3></div>
  <br>
  <div class="box">
  <ul>
  <li>Somos una tienda dedicada a ofrecer una amplia gama de equipos de música domésticos. <br>
  <li>Nuestra pasión es proporcionar productos de alta calidad que brinden una experiencia auditiva excepcional en el hogar.
  <li>Desde parlantes potentes hasta audífonos envolventes, nuestra cuidadosa selección de marcas reconocidas garantiza rendimiento y durabilidad.
  <li>Nuestro equipo de expertos está listo para brindarte asesoramiento personalizado y recomendaciones.
  </ul>
  <br>
  <h5>¡Únete a nosotros y descubre el placer de escuchar música con la mejor calidad en la comodidad de tu hogar!</h5></div>
</div>
</div>

</main>