/* Estilo para las tarjetas en el catálogo */
.card {
    width: 200px; /* Ancho deseado */
    height: 200px; /* Alto deseado */
    margin: 10px; /* Margen exterior para separar las tarjetas */
    /* Agrega más estilos según tus preferencias, como fondo, borde, etc. */
  }
  
  /* Estilo para el contenido de la tarjeta */
  .card-content {
    padding: 1rem; /* Espaciado interior del contenido */
  }
  
  /* Estilo para el título y subtítulo */
  .title, .subtitle {
    font-size: 1.25rem; /* Tamaño de fuente del título y subtítulo */
  }
  
  /* Estilo para el pie de la tarjeta (footer) */
  .card-footer {
    background-color: #f5f5f5; /* Color de fondo del pie */
    padding: 0.5rem; /* Espaciado interior del pie */
  }
  